@import "tailwindcss";

@theme {
  --color-kec-green: #8cc63f;
  --color-kec-blue: #003366;
  --color-kec-light-blue: #00a9e0;
}

/* Custom Glassmorphism Styles */
.glass-panel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #111827;
  /* gray-900 */
  color: white;
}